<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let product of products" class="col-md-3 mt-2">
                    <div class="card mb-3">
                        <a routerLink="/products/{{product.id}}">
                            <img src="{{product.imageUrl}}" class="card-img-top img-responsive" alt="...">
                        </a>

                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text text-truncate">{{product.description}}
                            </p>
                            <div class="price">{{product.unitPrice | currency:"USD"}}</div>
                            <a (click)="addToCart(product)" class="btn btn-light">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <!-- if products empty then display a message-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>

            </div>

            <!-- begin footer -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange)="listProducts()">

                                </ngb-pagination>

                            </div>
                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size</span>
                                <select (change)="updatePageSize($any($event.target).value)">
                                    <option >2</option>
                                    <option selected="true">5</option>
                                    <option >10</option>
                                    <option> 20</option>
                                    <option >50</option>
                                </select>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- end footer -->

        </div>
    </div>
